.container1 img{
    height: 170px; 
    width: 170px;
    margin-left: 10px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container1{
    box-shadow: 5px 5px 10px black;
}
.container2{
    box-shadow: 5px 5px 10px black;
}