*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    display: inline;
    text-decoration: none;
    padding: 20px;
}
.e3:hover{
    background-color: aqua;
    box-shadow: 5px 5px 10px;
    
    
}
.e4:hover{
    background-color: aqua;
    box-shadow: 5px 5px 10px;
   
}
.e5:hover{
    background-color: aqua;
    box-shadow: 5px 5px 10px;
    
}
